<div id="ascii-art-fname" class="background-ascii-art ascii-art-fname">
    <pre>
      _____    ____               ____    ____    ____       ______    
 ___|\     \  |    |         ____|\   \  |    |  |    |  ___|\     \  
|    |\     \ |    |        /    /\    \ |    |  |    | |     \     \
|    | |     ||    |       |    |  |    ||    | /    // |     ,_____/|
|    | /_ _ / |    |  ____ |    |__|    ||    |/ _ _//  |     \--'\_|/
|    |\    \  |    | |    ||    .--.    ||    |\    \'  |     /___/|  
|    | |    | |    | |    ||    |  |    ||    | \    \  |     \____|\ 
|____|/____/| |____|/____/||____|  |____||____|  \____\ |____ '     /|
|    /     || |    |     |||    |  |    ||    |   |    ||    /_____/ |
|____|_____|/ |____|_____|/|____|  |____||____|   |____||____|     | /
                                                             |_____|
    
    </pre>
</div>
