<div id="ascii-art-fname" class="background-ascii-art ascii-art-fname">
    <pre>
      _____    ____               ____    ____    ____       ______    
 ___|\     \  |    |         ____|\   \  |    |  |    |  ___|\     \  
|    |\     \ |    |        /    /\    \ |    |  |    | |     \     \
|    | |     ||    |       |    |  |    ||    | /    // |     ,_____/|
|    | /_ _ / |    |  ____ |    |__|    ||    |/ _ _//  |     \--'\_|/
|    |\    \  |    | |    ||    .--.    ||    |\    \'  |     /___/|  
|    | |    | |    | |    ||    |  |    ||    | \    \  |     \____|\ 
|____|/____/| |____|/____/||____|  |____||____|  \____\ |____ '     /|
|    /     || |    |     |||    |  |    ||    |   |    ||    /_____/ |
|____|_____|/ |____|_____|/|____|  |____||____|   |____||____|     | /
                                                             |_____|
                                                                                                           
     _____   ______        ______     _____                    ______   ____    ____   _____      _____ 
     |\    \ |\     \   ___|\     \   |\    \   _____       ___|\     \ |    |  |    | |\    \    /    /|
      \\    \| \     \ |     \     \  | |    | /    /|     |    |\     \|    |  |    | | \    \  /    / |
       \|    \  \     ||     ,_____/| \/     / |    ||     |    |/____/||    | /    // |  \____\/    /  /
        |     \  |    ||     \--'\_|/ /     /_  \   \/  ___|    \|   | ||    |/ _ _//   \ |    /    /  / 
        |      \ |    ||     /___/|  |     // \  \   \ |    \    \___|/ |    |\    \'    \|___/    /  /  
        |    |\ \|    ||     \____|\ |    |/   \ |    ||    |\     \    |    | \    \        /    /  /   
        |____||\_____/||____ '     /||\ ___/\   \|   /||\ ___\|_____|   |____|  \____\      /____/  /    
        |    |/ \|   |||    /_____/ || |   | \______/ || |    |     |   |    |   |    |    |`    | /     
        |____|   |___|/|____|     | / \|___|/\ |    | | \|____|_____|   |____|   |____|    |_____|/      
                            |_____|/          \|____|/                                                   
    </pre>
</div>
