<div id="ascii-art-lname" class="background-ascii-art ascii-art-lname">
    <pre>

                                                                                                           
 _____   ______        ______     _____                    ______   ____    ____   _____      _____ 
 |\    \ |\     \   ___|\     \   |\    \   _____       ___|\     \ |    |  |    | |\    \    /    /|
  \\    \| \     \ |     \     \  | |    | /    /|     |    |\     \|    |  |    | | \    \  /    / |
   \|    \  \     ||     ,_____/| \/     / |    ||     |    |/____/||    | /    // |  \____\/    /  /
    |     \  |    ||     \--'\_|/ /     /_  \   \/  ___|    \|   | ||    |/ _ _//   \ |    /    /  / 
    |      \ |    ||     /___/|  |     // \  \   \ |    \    \___|/ |    |\    \'    \|___/    /  /  
    |    |\ \|    ||     \____|\ |    |/   \ |    ||    |\     \    |    | \    \        /    /  /   
    |____||\_____/||____ '     /||\ ___/\   \|   /||\ ___\|_____|   |____|  \____\      /____/  /    
    |    |/ \|   |||    /_____/ || |   | \______/ || |    |     |   |    |   |    |    |`    | /     
    |____|   |___|/|____|     | / \|___|/\ |    | | \|____|_____|   |____|   |____|    |_____|/      
                        |_____|/          \|____|/                                                   
 
  

    
    </pre>
</div>
