<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32602305-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-32602305-2');


    </script>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/index.js"></script>
    
    <meta charset="utf-8">
    <title>{{ page.title }} | Blake Jarsky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/CSS/styles.css">
  </head>
  
  <body>
    {% include navigation.html %}
    {% include background.html %}
    {% include side_nav.html %}
    <div class="text-content">
    {{ content }}
    </div>
  </body>
</html>
